<h1>Figure Name : <%=@figure.name%></h1>

<h2>Landmarks :</h2>
<% if @figure.landmarks == []%>
    <p>There are no landmarks for this figure.</p>
    <%else%>
<ul>
<%@figure.landmarks.each do |landmark|%>
    <li><%=landmark.name%> </li>
<% end %>
</ul>
<%end%>

<h2>Titles :</h2>
<% if @figure.titles == []%>
    <p>There are no titles for this figure.</p>
    <%else%>
<ul>
<%@figure.titles.each do |title|%>
    <li><%=title.name%> </li>
<% end %>
</ul>
<%end%>